openapi: 3.1.0
info:
  title: rescue-net.eu API
  version: 0.1.0
  description: >-
    Volunteer rescue alerting and mission coordination platform.
    This is the MVP skeleton contract. Endpoints are defined in the project
    manual section 14; only the implemented surface is documented here and the
    file grows as features land.
servers:
  - url: https://api.rescue-net.eu
  - url: http://localhost:8000
paths:
  /healthz:
    get:
      summary: Liveness probe
      tags: [health]
      responses:
        "200":
          description: Service is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
  /readyz:
    get:
      summary: Readiness probe
      tags: [health]
      responses:
        "200":
          description: Dependency health report
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [ready, degraded] }
                  checks:
                    type: object
                    additionalProperties: { type: string }
  /me:
    get:
      summary: Current authenticated user
      tags: [auth]
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: The authenticated user
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "401": { description: Not authenticated }
  /auth/dev/login:
    post:
      summary: Developer login (non-production only)
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                role: { type: string }
                full_name: { type: string }
      responses:
        "200":
          description: Access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }
                  token_type: { type: string, example: bearer }
  /incidents:
    get:
      summary: List incidents
      tags: [incidents]
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Incident collection
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Incident" }
    post:
      summary: Create an incident (dispatcher)
      tags: [incidents]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/IncidentCreate" }
      responses:
        "201":
          description: Created incident
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Incident" }
        "403": { description: Insufficient role }
  /incidents/{incident_id}/candidates:
    get:
      summary: Find nearby responder candidates (manual §9.1)
      tags: [incidents]
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: incident_id, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: verified_only, in: query, schema: { type: boolean, default: true } }
        - { name: skills, in: query, schema: { type: array, items: { type: string } } }
      responses:
        "200":
          description: Responder candidates ordered by distance
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ResponderCandidate" }
  /incidents/{incident_id}/alerts:
    post:
      summary: Alert nearby responders (dispatcher; manual §9)
      tags: [alerts]
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: incident_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                alert_type: { type: string }
                reason: { type: string, nullable: true }
                verified_only: { type: boolean, default: true }
                skills: { type: array, items: { type: string } }
      responses:
        "201":
          description: Alert campaign summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  incident_id: { type: string, format: uuid }
                  expiry_at: { type: string, format: date-time }
                  recipients: { type: integer }
                  alert_ids: { type: array, items: { type: string, format: uuid } }
        "422": { description: Missing search area or required reason }
        "429": { description: Rate limit exceeded }
  /incidents/{incident_id}/create-mission:
    post:
      summary: Create a mission from an incident (dispatcher; manual §5.3)
      tags: [missions]
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: incident_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                lead_user_id: { type: string, format: uuid, nullable: true }
                auto_add_accepted: { type: boolean, default: true }
      responses:
        "201":
          description: Created mission
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Mission" }
  /alerts:
    get:
      summary: List the current user's alerts
      tags: [alerts]
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Alert inbox
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Alert" }
  /alerts/{alert_id}/respond:
    post:
      summary: Respond to an alert (recipient; manual §9.3)
      tags: [alerts]
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: alert_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [response]
              properties:
                response: { type: string, enum: [yes, no, need_details] }
      responses:
        "200":
          description: Updated alert
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Alert" }
        "409": { description: Alert has expired }
  /missions:
    get:
      summary: List missions (membership-scoped for non-staff)
      tags: [missions]
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Mission collection
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Mission" }
  /missions/{mission_id}:
    get:
      summary: Get a mission
      tags: [missions]
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: mission_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: Mission
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Mission" }
        "403": { description: Not a mission member }
    patch:
      summary: Update mission status (staff or Team Lead; manual §8)
      tags: [missions]
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: mission_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [pending, mobilizing, active, waiting, returning, closed, cancelled]
      responses:
        "200":
          description: Updated mission
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Mission" }
  /missions/{mission_id}/join:
    post:
      summary: Join a mission; enable live location with explicit consent (§5.3, §16.2)
      tags: [missions]
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: mission_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                live_location_enabled: { type: boolean, default: false }
      responses:
        "200":
          description: Updated mission
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Mission" }
  /missions/{mission_id}/leave:
    post:
      summary: Leave a mission; stops live location sharing (§16.2)
      tags: [missions]
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: mission_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: Updated mission
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Mission" }
  /missions/{mission_id}/close:
    post:
      summary: Close a mission (staff or Team Lead; §5.5)
      tags: [missions]
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: mission_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                closure_summary: { type: string, nullable: true }
      responses:
        "200":
          description: Closed mission
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Mission" }
  /missions/{mission_id}/messages:
    get:
      summary: List mission chat messages
      tags: [missions]
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: mission_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: Chat messages
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ChatMessage" }
    post:
      summary: Post a mission chat message
      tags: [missions]
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: mission_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message: { type: string }
      responses:
        "201":
          description: Created message
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChatMessage" }
        "409": { description: Mission is closed }
  /missions/{mission_id}/locations:
    post:
      summary: Ingest a live location sample (active member with consent; §16.2)
      tags: [missions]
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: mission_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [latitude, longitude]
              properties:
                latitude: { type: number }
                longitude: { type: number }
                accuracy_m: { type: number, nullable: true }
                speed: { type: number, nullable: true }
                heading: { type: number, nullable: true }
      responses:
        "201":
          description: Stored location
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Location" }
        "403": { description: Not an active member or consent not given }
  /missions/{mission_id}/locations/live:
    get:
      summary: Latest known location per member (§5.4)
      tags: [missions]
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: mission_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: Latest location per member
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Location" }
# Realtime: connect to ws://<host>/ws/missions/{mission_id}?token=<jwt> to
# receive mission.* events (manual §14.2) fanned out over Redis pub/sub.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string }
        full_name: { type: string, nullable: true }
        role: { type: string }
        status: { type: string }
    IncidentCreate:
      type: object
      required: [title]
      properties:
        title: { type: string }
        description: { type: string, nullable: true }
        type: { type: string, nullable: true }
        priority: { type: string, enum: [low, medium, high], default: medium }
        latitude: { type: number, nullable: true }
        longitude: { type: number, nullable: true }
        radius_m: { type: integer, nullable: true }
    ResponderCandidate:
      type: object
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        display_name: { type: string, nullable: true }
        verification_status: { type: string }
        skills: { type: array, items: { type: string } }
        latitude: { type: number, nullable: true }
        longitude: { type: number, nullable: true }
        distance_m: { type: number }
    Alert:
      type: object
      properties:
        id: { type: string, format: uuid }
        incident_id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        alert_type: { type: string }
        status: { type: string, enum: [sent, responded, timeout] }
        response: { type: string, enum: [yes, no, need_details, timeout], nullable: true }
        sent_at: { type: string, format: date-time }
        responded_at: { type: string, format: date-time, nullable: true }
        expiry_at: { type: string, format: date-time, nullable: true }
    MissionMember:
      type: object
      properties:
        user_id: { type: string, format: uuid }
        role_in_mission: { type: string }
        joined_at: { type: string, format: date-time }
        left_at: { type: string, format: date-time, nullable: true }
        live_location_enabled: { type: boolean }
    Mission:
      type: object
      properties:
        id: { type: string, format: uuid }
        incident_id: { type: string, format: uuid }
        lead_user_id: { type: string, format: uuid, nullable: true }
        status:
          type: string
          enum: [pending, mobilizing, active, waiting, returning, closed, cancelled]
        started_at: { type: string, format: date-time, nullable: true }
        closed_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        members:
          type: array
          items: { $ref: "#/components/schemas/MissionMember" }
    ChatMessage:
      type: object
      properties:
        id: { type: string, format: uuid }
        mission_id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        message: { type: string }
        created_at: { type: string, format: date-time }
    Location:
      type: object
      properties:
        user_id: { type: string, format: uuid }
        latitude: { type: number }
        longitude: { type: number }
        accuracy_m: { type: number, nullable: true }
        speed: { type: number, nullable: true }
        heading: { type: number, nullable: true }
        timestamp: { type: string, format: date-time }
    Incident:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        type: { type: string }
        priority: { type: string, enum: [low, medium, high] }
        status:
          type: string
          enum: [draft, open, alerting, mission_created, active, suspended, closed, cancelled]
        radius_m: { type: integer, nullable: true }
        created_at: { type: string, format: date-time }
