openapi: 3.1.0
info:
  title: rescue-net.eu API
  version: 0.1.0
  description: >-
    Volunteer rescue alerting and mission coordination platform.
    This is the MVP skeleton contract. Endpoints are defined in the project
    manual section 14; only the implemented surface is documented here and the
    file grows as features land.
servers:
  - url: https://api.rescue-net.eu
  - url: http://localhost:8000
paths:
  /healthz:
    get:
      summary: Liveness probe
      tags: [health]
      responses:
        "200":
          description: Service is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
  /readyz:
    get:
      summary: Readiness probe
      tags: [health]
      responses:
        "200":
          description: Dependency health report
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [ready, degraded] }
                  checks:
                    type: object
                    additionalProperties: { type: string }
  /incidents:
    get:
      summary: List incidents
      tags: [incidents]
      responses:
        "200":
          description: Incident collection
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Incident" }
components:
  schemas:
    Incident:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        type: { type: string }
        priority: { type: string, enum: [low, medium, high] }
        status:
          type: string
          enum: [draft, open, alerting, mission_created, active, suspended, closed, cancelled]
        radius_m: { type: integer, nullable: true }
        created_at: { type: string, format: date-time }
