openapi: 3.1.0
info:
  title: rescue-net.eu API
  version: 0.1.0
  description: >-
    Volunteer rescue alerting and mission coordination platform.
    This is the MVP skeleton contract. Endpoints are defined in the project
    manual section 14; only the implemented surface is documented here and the
    file grows as features land.
servers:
  - url: https://api.rescue-net.eu
  - url: http://localhost:8000
paths:
  /healthz:
    get:
      summary: Liveness probe
      tags: [health]
      responses:
        "200":
          description: Service is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
  /readyz:
    get:
      summary: Readiness probe
      tags: [health]
      responses:
        "200":
          description: Dependency health report
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [ready, degraded] }
                  checks:
                    type: object
                    additionalProperties: { type: string }
  /me:
    get:
      summary: Current authenticated user
      tags: [auth]
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: The authenticated user
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "401": { description: Not authenticated }
  /auth/dev/login:
    post:
      summary: Developer login (non-production only)
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                role: { type: string }
                full_name: { type: string }
      responses:
        "200":
          description: Access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }
                  token_type: { type: string, example: bearer }
  /incidents:
    get:
      summary: List incidents
      tags: [incidents]
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Incident collection
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Incident" }
    post:
      summary: Create an incident (dispatcher)
      tags: [incidents]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/IncidentCreate" }
      responses:
        "201":
          description: Created incident
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Incident" }
        "403": { description: Insufficient role }
  /incidents/{incident_id}/candidates:
    get:
      summary: Find nearby responder candidates (manual §9.1)
      tags: [incidents]
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: incident_id, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: verified_only, in: query, schema: { type: boolean, default: true } }
        - { name: skills, in: query, schema: { type: array, items: { type: string } } }
      responses:
        "200":
          description: Responder candidates ordered by distance
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ResponderCandidate" }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string }
        full_name: { type: string, nullable: true }
        role: { type: string }
        status: { type: string }
    IncidentCreate:
      type: object
      required: [title]
      properties:
        title: { type: string }
        description: { type: string, nullable: true }
        type: { type: string, nullable: true }
        priority: { type: string, enum: [low, medium, high], default: medium }
        latitude: { type: number, nullable: true }
        longitude: { type: number, nullable: true }
        radius_m: { type: integer, nullable: true }
    ResponderCandidate:
      type: object
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        display_name: { type: string, nullable: true }
        verification_status: { type: string }
        skills: { type: array, items: { type: string } }
        latitude: { type: number, nullable: true }
        longitude: { type: number, nullable: true }
        distance_m: { type: number }
    Incident:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        type: { type: string }
        priority: { type: string, enum: [low, medium, high] }
        status:
          type: string
          enum: [draft, open, alerting, mission_created, active, suspended, closed, cancelled]
        radius_m: { type: integer, nullable: true }
        created_at: { type: string, format: date-time }
